{{ define "content" }}
{{$tableId := .TableId}}
{{$name := .Name}}
<div>
  <header>
    <h1>Hands</h1>
  </header>
  <main>
    <div>
      <ul>
        {{ range .HandListings }}
        {{ $joinHandUrl := printf "%s%s%s%s%s" "/table/" $tableId "/hand/" .HandId "/players/join" }}
        {{ $handUrl := printf "%s%s%s%s" "/table/" $tableId "/hand/" .HandId }}
        <li>
          <h4>Hand</h4>
          <h5>{{ .HandId }}</h5>
          {{ if and .Active .Joined }}
          <button><a href="{{ $handUrl }}">Playing (join)</a></button>
          {{ else if .Active }}
          <h5>In progress</h5>
          {{ else }}
          <button hx-post="{{ $joinHandUrl }}">Join</button>
          <div class="hand-players">
            <h5>Waiting for players</h5>
            <ul>
              {{ range .Players }}
              <li>{{ .Name }}</li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </li>{{ end }}
      </ul>
    </div>
  </main>
</div>
{{ end }}