{{template "layout.go.html" .}}

{{define "content"}}
{{block "hand" .}}
<div id="hand-content">
  <header>
    <h1><a href='/table/{{.TableId}}/hand/{{.HandId}}'>Hand</a></h1>
  </header>
  <main>
    {{ if not .IsActive }}
    <button hx-post="/table/{{.TableId}}/hand/{{.HandId}}/begin" hx-target="#hand-content"
      hx-swap="innerHTML">Begin</button>
    {{ end }}
    <div>
      <h2>Opponents</h2>
      {{ template "opponentPositions" .Opponents }}
    </div>
    <div>
      <h2>Player</h2>
      {{ template "player" .Player }}
    </div>
  </main>
</div>
{{ end }}
{{ end }}