{{$handId := .HandId}}
{{$playerId := .Id}}
{{$tableId := .TableId}}
{{ $createMoveUrl := printf "%s%s%s%s%s%s%s" "/table/" $tableId "/hand/" $handId "/player/" $playerId "/move"}}
<div class="self player {{ if .Active}} active{{end}}">
  <h4>{{ .Name }}</h2>
    <p>Chips: {{ .Chips }}</p>
    <div class="bet">
      {{ range .Moves }}
      <form>
        <input name="action" hidden value="{{ .Action }}" />
        <input name="bet" hidden value="{{if .Bet.Minimum}}{{.Bet.Minimum}}{{end}}" />
        <button hx-post="{{ $createMoveUrl }}" hx-target=".main-content" hx-swap="outerHTML">
        {{.Action }}{{if .Bet.Minimum}} ({{.Bet.Minimum}}){{end}}
        </button>
      </form>
      {{ end }}
    </div>
    {{ range .Cards }}
    <span class="{{ .Class }}"></span>
    {{ end }}
</div>
