body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto 1fr;
	grid-template-areas:
		"header header header"
		"main main main"
		"footer footer footer";
}

header {
	grid-area: header;
	background-color: red;
}

.main-content {
	grid-area: main;
	background-color: cyan
}

footer {
	grid-area: footer;
	background-color: blue;
}

.opponents {
	background-color: green;
}

.player.active {
	background-color: yellow;
}

.opponents ol {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
}

.player {
	border: solid
}


